<div class="container account">
	<div class="row">
		<div class="span9 offset2">
			<div class="team-name"> <%= @account.company %> Product Team </div>
			<br>

			<div class="content-container">
				<div class="content-header">Vision</div>
				<div class="content-content" id="vision">
					<% if @account.vision.blank? %>
						<%= content_tag :a, 'Add Vision Statement', :href => "#modal-window", class: "btn", data: {toggle: 'modal'} %>
					<% else %>
						" <%= @account.vision  %> "
					<% end %>
				</div>
				<%= render partial: 'accounts/vision_form' %>
			</div>

			<div class="content-container ">
				<div class="content-header">Metrics</div>
				<div class="content-content">
					<%= render partial: @metrics %>
					<%= content_tag :a, 'Edit Metrics', :href => "#metrics-window", class: "btn metric-button", data: {toggle: 'modal'} %>
				</div>
				<%= render partial: 'shared/metrics_form', locals: {resource: @account} %>
			</div>
			<hr>
			<div class="stats">
				<div class="row">
					<div class="span3">
					Products: <%=@account.products.count %>
					</div>
					<div class="span3">
					Concepts: <%=@account.concepts.count %>
					</div>
					<div class="span3">
					Tests: <%=@account.concepts.where(state: 'testing').count %>
					</div>
				</div>
			</div>
			<hr>
				<div class="row">
					<div class="span12" style="margin-left: 0px">
						<%= render @products %>
					</div>
				</div>
			<div class="row span9">
			<%= button_to 'add product', new_product_path, method: :get%>
			</div>
		</div>
	</div>
</div>