<div class="container account">
	<div class="row">
		<div class="span9 offset2">
		<div class="team-name"> <%= @account.company %> Product Team </div>
		<br>
			<div class="content-container">
				<div class="content-header">Vision</div>
					<div class="content-content" id="vision">
					<% if @account.vision.blank? %>
						<%= content_tag :a, 'Add Vision Statement', :href => "#modal-window", class: "btn", data: {toggle: 'modal'} %>
					<% else %>
						" <%= @account.vision  %> "
					<% end %>
					</div>
				<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button> 
						<h3> Vision Statement</h3>
					</div>
					<div class="modal-body">
						<%= simple_form_for(@account, method: :put) do |f| %>
						<%= f.input :vision, label: false, placeholder: "add team vision" %>
					</div>
					<div class="modal-footer"> 
						<%= f.button :submit, "Update Vision" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="content-container ">
				<div class="content-header">Metrics
				</div>
				<div class="content-content">
					<%= render partial: @metrics %>
					<%= content_tag :a, 'Edit Metrics', :href => "#metrics-window", class: "btn metric-button", data: {toggle: 'modal'} %>
				</div>
				<%= render partial: 'accounts/metrics_form' %>
			</div>
			<hr>
			<div class="stats">
				<div class="row">
					<div class="span3">
					Products: <%=@account.products.count %>
					</div>
					<div class="span3">
					Concepts: <%=@account.concepts.count %>
					</div>
					<div class="span3">
					Tests: <%=@account.concepts.where(state: 'testing').count %>
					</div>
				</div>
			</div>
			<hr>
			<%if current_user %>
				<%= link_to 'add product', new_product_path%>
				<%= render @products %>
			<% end %>
		</div>
	</div>
</div>