<h2> Vision Statement </h2>
<%= simple_form_for(@account, method: :put) do |f| %>
 <%= f.input :vision %>
 <%= f.button :submit, "Edit Vision" %>
 <% end %>

<h2> Users </h2>
<ul>
<% @account.users.each do |f| %>

<li class="inline-block">
<%= f.name %>
<%= f.email %>
<% unless f.account_owner == true %>
<%= link_to "X", f, :method => :delete, :class => 'btn btn-mini btn-danger'%>
<% end %>
</li>
<% end %>
</ul>

<%= render partial: "invite" %>


